.header {
  align-items: center;
  background-color: #003be5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 90px;
  text-align: center;
  width: 100%;
}

.search-header {
  display: flex;
  justify-content: center;
  margin: 0 3%;
}

.button-header img {
  height: 20px;
  width: 20px;
}

.button-header {
  background-color: white;
  border: none;
  padding: 0 10px;
}

.button-header:hover {
  cursor: pointer;
}

.header .input-search {
  background-color: white;
  border: 1px solid white;
  font-size: 16px;
  height: 35px;
  padding: 0 10px;
  width: 208px;
}

.logo-header {
  margin-right: 16%;
  width: 100%;
}

.logo-header img {
  height: 65px;
}

.cart-header img {
  height: 30px;
  width: 30px;
}

.cart-header {
  margin: 0 30px;
}

.header-link {
  color: white;
  font-size: 13.77px;
  font-weight: 700;
}

.counter-header {
  align-items: center;
  background-color: #2fc18c;
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 26px;
  top: 25px;
  width: 20px;
}

@media only screen and ( max-width : 764px ) {

  .header form {
    margin-left: 20px;
  }

}
