.main {
  display: flex;
}

.products-container {
  width: 80%;
}

.product {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.products {
  background-color: white;
  box-shadow: 2.7px 2.7px 5.5px rgba(0, 0, 0, 0.05);
  height: 358px;
  margin: 13.5px;
  text-align: center;
  width: 278px;
}

.products:hover {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);
}

.products img {
  height: 200px;
  margin-top: 17px;
}

.link {
  color: black;
  text-decoration: none;
}

.text-products {
  height: 40px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.text-products h3 {
  font-size: 16px;
  font-weight: 700;
}

.products-price {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.products-price p {
  color: #b0b3bb;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px;
}

.products-price h1 {
  color: #444955;
  font-size: 20px;
  font-weight: 600;
}
