* {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.header img {
  height: 30px;
  width: 30px;
}

.main {
  display: flex;
  margin-top: 5px;
}

.categories {
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 20px;
  min-width: 250px;
  padding: 20px;
}

.product {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.products {
  border: 1px solid black;
  height: 200px;
  margin: 5px;
  text-align: center;
  width: 250px;
}

.products img {
  width: 100px;
}
