* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ececec;

}

.button-addCard {
  background-color: #31c28d;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 35px;
  transition: 0.3s;
  width: 90%;
}

.button-addCard:hover {
  background-color: #23aa79;
  cursor: pointer;
  transition: 0.3s;
}

.cart-quantity {
  display: flex;
}

.cart-quantity button {
  margin: 0 5px;
  padding: 0 5px;
}

.text-center {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 45%;
}

.text-center h1, .text-center-cart h1 {
  color: #31c28d;
  font-size: 30px;
  font-weight: 600;
  max-width: 351px;
  text-transform: uppercase;
}

.text-center p {
  color: #94979d;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
  margin-top: 12px;
  max-width: 347px;
}

.text-center-cart {
  left: 43.7%;
  max-width: 229px;
  position: absolute;
  text-align: center;
  top: 48%;
}

.fretegratis {
  margin-left: 180px;
  max-height: 29px;
  max-width: 49px;
  position: absolute;
}

.back {
  color: #2fc18c;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 18px;
  left: 46px;
  position: absolute;
  text-decoration: none;
  top: 129px;
  width: 80px;
}

.back p {
  margin-left: 12px;
}

.back p:hover {
  color: #1aa773;
}
