* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ececec;

}

.main {
  display: flex;
}

.products-container {
  width: 80%;
}

.product {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.products {
  background-color: white;
  box-shadow: 2.7px 2.7px 5.5px rgba(0, 0, 0, 0.05);
  height: 358px;
  margin: 13.5px;
  text-align: center;
  width: 278px;
}

.products img {
  height: 200px;
  margin-top: 17px;
}

.link {
  color: black;
  text-decoration: none;
}

.text-products {
  height: 35px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.text-products h3 {
  font-size: 16px;
  font-weight: 700;
}

.products-price {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.products-price p {
  color: #b0b3bb;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px;
}

.products-price h1 {
  color: #444955;
  font-size: 20px;
  font-weight: 600;
}

.button-addCard {
  background-color: #31c28d;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 35px;
  transition: 0.3s;
  width: 90%;
}

.button-addCard:hover {
  background-color: #23aa79;
  cursor: pointer;
  transition: 0.3s;
}

.cart-quantity {
  display: flex;
}

.cart-quantity button {
  margin: 0 5px;
  padding: 0 5px;
}

.text-center {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 45%;
}

.text-center h1 {
  color: #31c28d;
  font-size: 30px;
  font-weight: 600;
  max-width: 351px;
  text-transform: uppercase;
}

.text-center p {
  color: #94979d;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
  margin-top: 12px;
  max-width: 347px;
}

.fretegratis {
  margin-left: 180px;
  max-height: 29px;
  max-width: 49px;
  position: absolute;
}
